/*
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
*/


@keyframes refreshAnimation {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.refresh-animation {
  -webkit-animation: refreshAnimation 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: refreshAnimation 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}