<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
-->

{% extends "base.html" %}

{% block content %}

<div class="grid grid-cols-2 p-4 m-4 gap-4 bg-secondary_dark rounded-lg shadow-lg">

    <div class="col-span-1 w-full grid grid-cols-2 gap-4">

        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.total_orders }}</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-shopping-cart text-2xl"></i>
                <h1 class="text-sm uppercase">Objednávky</h1>
            </div>
        </div>
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.revenue_total }} Kč</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-coins text-2xl"></i>
                <h1 class="text-sm uppercase">Tržby</h1>
            </div>
        </div>
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.total_canceled_orders }}</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-trash text-2xl"></i>
                <h1 class="text-sm uppercase">Zrušené objednávky</h1>
            </div>
        </div>

        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.new_acc_created }}</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-user-plus text-2xl"></i>
                <h1 class="text-sm uppercase">Nové Účty</h1>
            </div>
        </div>
       
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.total_wallet_refills }}</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-wallet text-2xl"></i>
                <h1 class="text-sm uppercase">Dobité Peněženky</h1>
            </div>
        </div>
        
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.total_wallet_refills_amount }} Kč</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-credit-card text-2xl"></i>
                <h1 class="text-sm uppercase">Celkem Dobito</h1>
            </div>
        </div>
        
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ stats_sum.average_order_price }} Kč</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-tag text-2xl"></i>
                <h1 class="text-sm uppercase">Průměrná Cena Objednávky</h1>
            </div>
        </div>
        
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">
                {% if stats_sum.revenue_total != None and stats_sum.revenue_total != 0 and stats_sum.revenue_cash != None and stats_sum.revenue_cash != 0 and stats_sum.revenue_wallet != None and stats_sum.revenue_wallet != 0 %}
                    {{ ((stats_sum.revenue_cash / stats_sum.revenue_total) * 100)|round|int }} /
                    {{ ((stats_sum.revenue_wallet / stats_sum.revenue_total) * 100)|round|int }}
                {% else %}
                    Není
                {% endif %}
            </h1>
             
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-percent text-2xl"></i>
                <h1 class="text-sm uppercase">Hotovost vs. Peněženka</h1>
            </div>
        </div>

    </div>

    <div class="col-span-1 w-full space-y-4">
        <form method="get">
            <div class="p-4 bg-secondary shadow-mg rounded-lg w-full flex justify-between items-center">

                <div class="flex items-center gap-2">
                    <h1 class="text-white text-2xl font-semibold">Od:</h1>
                    <input id="rangeFrom" name="rangeFrom" type="date" class="p-2 rounded-md bg-secondary_dark text-white" required>
                </div>
                <script>
                    const rangeFrom = document.getElementById("rangeFrom")
                    rangeFrom.value = new URLSearchParams(window.location.search).get("rangeFrom") != null ? new URLSearchParams(window.location.search).get("rangeFrom") : new Date().toISOString().split('T')[0]
                </script>
                
                <div class="flex items-center gap-2">
                    <h1 class="text-white text-2xl font-semibold">Do:</h1>
                    <input id="rangeTo" name="rangeTo" type="date" class="p-2 rounded-md bg-secondary_dark text-white" required>
                </div>
                <script>
                    const rangeTo = document.getElementById("rangeTo")
                    rangeTo.value = new URLSearchParams(window.location.search).get("rangeTo") != null ? new URLSearchParams(window.location.search).get("rangeTo") : new Date().toISOString().split('T')[0]
                </script>

                <div>
                    {% with text="Zobrazit", type="submit", icon="las la-sync-alt" %}
                        {% include "/components/form/button.html" %}
                    {% endwith %}
                </div>

            </div>
        </form> 
        
        
        <div class="p-4 bg-white shadow-lg rounded-lg">
            <h1 class="text-lg text-secondary uppercase"><span class="font-bold">Tržby</h1>
            <div>
                <canvas id="revenue-per-hour">
                    <script>
                        const chartData = {{ stats|tojson }}.reverse()
        
                        new Chart(
                            document.getElementById('revenue-per-hour'),
                            {
                                type: 'line',                        
                                data: {
                                    labels: chartData.map(item => `${ new Date(item.date).getDate() }/${ new Date(item.date).getMonth() }/${ new Date(item.date).getFullYear() }`),
                                    datasets: [
                                        {
                                            label: 'Celkem',
                                            data: chartData.map(item => item.revenue_total),
                                            borderColor: '#228B22',
                                            backgroundColor: '#228B22',                              
                                            tension: 0.25
                                        },
                                        {
                                            label: 'Hotovost',
                                            data: chartData.map(item => item.revenue_cash),
                                            borderColor: '#FF6347',
                                            backgroundColor: '#FF6347',
                                            tension: 0.25
                                        },
                                        {
                                            label: 'Peněženka',
                                            data: chartData.map(item => item.revenue_wallet),
                                            borderColor: '#E53E5B',
                                            backgroundColor: '#E53E5B',
                                            tension: 0.25
                                        }
                                    ]
                                },
                                options: chartOptions
                            }                
                        )
                    </script>
                </canvas>
            </div>
        </div>

    </div>

</div>



<div class="bg-secondary_dark rounded-lg shadow-lg m-4 p-4">

    <div class="w-full mb-4">
        <div class="p-4 bg-secondary shadow-mg rounded-lg w-full flex items-center justify-center">

            <div>
                <select id="selectedEstablishment" name="selectedEstablishment" class="p-2 bg-secondary_dark text-white rounded-md w-full">
                    <option class="w-full" value="None" selected>Žádná provozovna</option>
                    {% for establishment in all_establishments %}
                        <option class="w-full" value="{{ establishment.establishmentId }}">{{ establishment.name }} - {{ establishment.address }}</option>
                    {% endfor %}
                </select>
                <script>
                    const selectElement = document.getElementById("selectedEstablishment")
            
                    const currentlySelectedEstablishment = new URLSearchParams(window.location.search).get("selectedEstablishment")
                    for (let i = 0; i < selectElement.options.length; i++) {
                        if (selectElement.options[i].value === currentlySelectedEstablishment) {
                            selectElement.options[i].setAttribute("selected", "selected")
                        }
                    }
            
                    // Add an event listener to listen for changes
                    selectElement.addEventListener("change", function () {            
                        var selectedOption = selectElement.value
            
                        window.location.href = `/?selectedEstablishment=${selectedOption}&rangeFrom=${ new URLSearchParams(window.location.search).get("rangeTo") != null ? new URLSearchParams(window.location.search).get("rangeTo") : new Date().toISOString().split('T')[0] }&rangeTo=${ new URLSearchParams(window.location.search).get("rangeTo") != null ? new URLSearchParams(window.location.search).get("rangeTo") : new Date().toISOString().split('T')[0] }`
                        
                    })
                </script>
            </div>

        </div>
    </div>

    <div class="col-span-1 w-full grid grid-cols-2 gap-4">

        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ establishment_sum.total_orders }}</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-shopping-cart text-2xl"></i>
                <h1 class="text-sm uppercase">Objednávky</h1>
            </div>
        </div>
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ establishment_sum.revenue_total }} Kč</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-coins text-2xl"></i>
                <h1 class="text-sm uppercase">Tržby</h1>
            </div>
        </div>
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">{{ establishment_sum.total_canceled_orders }}</h1>
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-trash text-2xl"></i>
                <h1 class="text-sm uppercase">Zrušené objednávky</h1>
            </div>
        </div>
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">
                {% if establishment_sum.total_orders != None and establishment_sum.total_orders != 0 %}
                    {{ (establishment_sum.revenue_total|float / establishment_sum.total_orders|float)|round }} Kč
                {% else %}
                    Není
                {% endif %}
            </h1>
            
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-tag text-2xl"></i>
                <h1 class="text-sm uppercase">Průměrná Cena Objednávky</h1>
            </div>
        </div>
        
        
        <div class="p-4 bg-secondary text-white shadow-md rounded-md">
            <h1 class="text-4xl font-bold whitespace-nowrap text-center">
                {% if establishment_sum.revenue_total != None and establishment_sum.revenue_total != 0 and establishment_sum.revenue_cash != None and establishment_sum.revenue_cash != 0 and establishment_sum.revenue_wallet != None and establishment_sum.revenue_wallet != 0 %}
                    {{ ((establishment_sum.revenue_cash / establishment_sum.revenue_total) * 100)|round|int }} /
                    {{ ((establishment_sum.revenue_wallet / establishment_sum.revenue_total) * 100)|round|int }}
                {% else %}
                    Není
                {% endif %}
            </h1>
            
            
            <div class="flex items-center gap-2 mt-3">
                <i class="las la-percent text-2xl"></i>
                <h1 class="text-sm uppercase">Hotovost vs. Peněženka</h1>
            </div>
        </div>

    </div>

</div>


{% endblock %}