<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
-->

{% extends "base.html" %}

{% block content %}


<!-- Stats -->
<div class="md:grid md:grid-cols-4 m-5 gap-5">

    <div class="md:col-span-1 p-5 bg-secondary text-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.revenue.today.totalRevenue == None %} 0 {% else %} {{ stats.stats.revenue.today.totalRevenue }} {% endif %} Kč</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Dnes</span> | Tržby</h1>
    </div>

    <div class="md:col-span-1 p-5 bg-secondary text-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.revenue.month.totalRevenue == None %} 0 {% else %} {{ stats.stats.revenue.month.totalRevenue }} {% endif %} Kč</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Tento měsíc</span> | Tržby</h1>
    </div>

    <div class="md:col-span-1 p-5 bg-secondary text-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.revenue.year.totalRevenue == None %} 0 {% else %} {{ stats.stats.revenue.year.totalRevenue }} {% endif %} Kč</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Tento Rok</span> | Tržby</h1>
    </div>

    <div class="md:col-span-1 p-5 bg-secondary text-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.revenue.allTime.totalRevenue == None %} 0 {% else %} {{ stats.stats.revenue.allTime.totalRevenue }} {% endif %} Kč</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Celkově</span> | Tržby</h1>
    </div>


    <div class="md:col-span-1 p-5 bg-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.orders.count.today.orders == None %} 0 {% else %} {{ stats.stats.orders.count.today.orders }} {% endif %}</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Dnes</span> | Objednávky</h1>
    </div>

    <div class="md:col-span-1 p-5 bg-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.orders.count.month.orders == None %} 0 {% else %} {{ stats.stats.orders.count.month.orders }} {% endif %}</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Tento měsíc</span> | Objednávky</h1>
    </div>

    <div class="md:col-span-1 p-5 bg-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.orders.max.today.totalPrice == None %} 0 {% else %} {{ stats.stats.orders.max.today.totalPrice }} {% endif %} Kč</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Dnes</span> | TOP Objednávka</h1>
    </div>

    <div class="md:col-span-1 p-5 bg-white shadow-md rounded-md">
        <h1 class="text-4xl font-bold whitespace-nowrap">{% if stats.stats.orders.max.month.totalPrice == None %} 0 {% else %} {{ stats.stats.orders.max.month.totalPrice }} {% endif %} Kč</h1>
        <h1 class="mt-3 text-sm uppercase"><span class="font-bold">Tento měsíc</span> | TOP Objednávka</h1>
    </div>
    
</div>


<!-- Charts -->
<div class="static md:grid md:grid-cols-5 gap-5 m-5">

    <!-- Chart - This day-->
    <div class="md:col-span-3">

        <div class="p-5 bg-white shadow-md rounded-md">
            <h1 class="text-lg text-secondary uppercase"><span class="font-bold">Průběh</span> | dnešní den</h1>
            <div>
                <canvas id="revenue-per-hour" style="height: 35vh;">
                    <script>
                        new Chart(
                            document.getElementById('revenue-per-hour'),
                            {
                                type: 'line',                        
                                data: {
                                    labels: JSON.parse('{{ stats.revenue_per_hour|tojson }}').orderHour,
                                    datasets: [
                                        {
                                            label: 'Tržby (Kč)',
                                            data: JSON.parse('{{ stats.revenue_per_hour|tojson }}').totalRevenue,
                                            borderColor: '#008550',
                                            backgroundColor: '#008550',                              
                                            tension: 0.25
                                        },
                                        {
                                            label: 'Objednávky (Ks)',
                                            data: JSON.parse('{{ stats.revenue_per_hour|tojson }}').totalOrders,
                                            borderColor: '#E53E5B',
                                            backgroundColor: '#E53E5B',
                                            tension: 0.25
                                        }
                                    ]
                                },
                                options: chartOptions
                            }                
                        )
                    </script>
                </canvas>
            </div>
        </div>

    </div>


    <!-- Most Popular Products -->
    <div class="md:col-span-2">

        <div class="p-5 bg-white shadow-md rounded-md">
            <h1 class="text-lg text-secondary uppercase"><span class="font-bold">Produkty</span> | nejprodávanější</h1>
            <div>
                <canvas id="most-visited-establishments" style="height: 35vh;">
                    <script>
                        new Chart(
                            document.getElementById('most-visited-establishments'),
                            {
                                type: 'doughnut',                        
                                data: {
                                    labels: JSON.parse('{{ stats.most_purchased_products|tojson }}').name,
                                    datasets: [
                                        {
                                            label: "Prodáno (ks)",
                                            data: JSON.parse('{{ stats.most_purchased_products|tojson }}').totalPurchased,                          
                                            tension: 0.25,
                                            backgroundColor: [
                                                "#009e49",
                                                "#bad80a",
                                                "#00b294",
                                                "#68217a",
                                                "#00bcf2",                                                   
                                                "#ec008c",
                                                "#e81123",
                                                "#ff8c00",                                                    
                                                "#00188f",
                                                "#fff100"
                                            ],
                                            hoverOffset: 4
                                        },
                                    ]
                                },
                                options: {
                                    maintainAspectRatio: false
                                }
                            }                
                        )
                    </script>
                </canvas>
            </div>
        </div>
        
    </div>

</div>


<!-- Revenue per establishment -->
<div class="m-5 p-5 bg-white shadow-md rounded-md">
    <h1 class="text-lg text-secondary uppercase"><span class="font-bold">Tržby</span> | dle provozovny</h1>
    <div>
        
        <canvas id="revenue-per-establishment" style="height: 30vh;">            
            <script>
                new Chart(
                    document.getElementById('revenue-per-establishment'),
                    {
                        type: 'bar',                        
                        data: {
                            labels: JSON.parse('{{ stats.revenue_per_establishment|tojson }}').name,
                            datasets: [
                                {
                                    label: "Třžby (Kč)",
                                    data: JSON.parse('{{ stats.revenue_per_establishment|tojson }}').totalRevenue,                          
                                    tension: 0.25,
                                    borderColor: '#008550',
                                    backgroundColor: '#008550',                              
                                    hoverOffset: 4
                                },
                            ]
                        },
                        options: chartOptions
                    }                
                )
            </script>
        </canvas>
    </div>
</div>


<!-- Revenue all time -->
<div class="m-5 p-5 bg-white shadow-md rounded-md">
    <h1 class="text-lg text-secondary uppercase"><span class="font-bold">Tržby</span> | všechny dny s tržbou</h1>
    <div>
        
        <canvas id="revenue-per-day" style="height: 30vh;">            
            <script>
                new Chart(
                    document.getElementById('revenue-per-day'),
                    {
                        type: 'line',                        
                        data: {
                            labels: JSON.parse('{{ stats.revenue_per_day|tojson }}').orderDate,
                            datasets: [
                                {
                                    label: "Třžby (Kč)",
                                    data: JSON.parse('{{ stats.revenue_per_day|tojson }}').totalRevenue,                          
                                    tension: 0.25,
                                    borderColor: '#008550',
                                    backgroundColor: '#008550',                              
                                    hoverOffset: 4
                                },
                            ]
                        },
                        options: chartOptions
                    }                
                )
            </script>
        </canvas>
    </div>
</div>


<div class="mt-5 text-right">
    <label for="timeWindowSelector" class="text-lg">Zobrazované Období Grafů:</label>
    <select id="timeWindowSelector" class="m-5 p-3 bg-secondary text-white rounded-md shadow-md">                        

        <option value="today" class="hover:bg-secondary hover:text-primary m-1 p-2 rounded">
            Dnes
        </option>
        <option value="week" class="hover:bg-secondary hover:text-primary m-1 p-2 rounded">
            Tento týden
        </option>
        <option value="month" class="hover:bg-secondary hover:text-primary m-1 p-2 rounded">
            Tento měsíc
        </option>
        <option value="year" class="hover:bg-secondary hover:text-primary m-1 p-2 rounded">
            Tento rok
        </option>
                    
    </select>

    <script>
        const selectElement = document.getElementById("timeWindowSelector")

        const currentTimeWindow = new URLSearchParams(window.location.search).get("timeWindow")
        for (let i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === currentTimeWindow) {
                selectElement.options[i].setAttribute("selected", "selected")
            }
        }

        // Add an event listener to listen for changes
        selectElement.addEventListener("change", function () {            
            var selectedOption = selectElement.value

            window.location.href = `/?timeWindow=${selectedOption}`
            
        })
    </script>
</div>


{% endblock %}