<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

    Jakákoliv úprava a distribuce tohoto kódu 
    bez povolení autora je zakázána!

    © Robin Míček 2023 - 2024

********************************************************
-->

{% extends "base.html" %}

{% block content %}

<div class="m-5">
    <div class="flex text-left">
        <div>
            <h1 class='text-4xl font-bold'>Produkty</h1>
            <p class="mt-3 mb-1">Produkty jsou jednotlivé položky, které si mohou zákazníci objednat.</p>
        </div>
        <div class="flex-grow text-right mt-5">
            <a href="/products/new">
                {% with text="Nový Produkt", type="button", icon="las la-plus", button="" %}
                    {% include "/components/form/button.html" %}
                {% endwith %}
            </a>
        </div>
        <hr>
    </div>
</div>


<!-- Table -->
<div class="m-5">
    {% with text="Hledat", type="text", name="search" %}
        {% include "/components/form/input.html" %}
    {% endwith %}
</div>

<div id="datatable" class="m-5">
    <table style="width: 100%;" class="text-center rounded-md shadow-md bg-secondary">
        <thead class="text-white uppercase">
            <tr id="thead">
                <th class="px-6 py-4 text-md font-bold text-left">Název</th>
                <th class="px-6 py-4 text-md font-bold text-left">Popis</th>
                <th class="px-6 py-4 text-md font-bold text-left">Cena</th>
                <th class="px-6 py-4 text-md font-bold text-left">Dostupné</th>
                <th class="px-6 py-4 text-md font-bold text-left"></th>
            </tr>
        </thead>
        <tbody class="bg-white" id="tbody">            
            {% for prod in products %}
                <tr>
                    <td class="px-6 py-4 text-md border-secondary text-left">{{ prod.name }}</td>
                    <td class="px-6 py-4 text-md border-secondary text-left" title="{{ prod.description }}">{{ prod.description | truncate(50, False, '...') }}</td>
                    <td class="px-6 py-4 text-md border-secondary text-left">{{ prod.price }} Kč</td>
                    <td class="px-6 py-4 text-md border-secondary text-left">
                        {% if prod.show == 1 %}
                            <a href="/products/toggle-show?id={{ prod.productId }}">
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-700 hover:bg-primary hover:ring-2 hover:ring-secondary text-primary hover:text-secondary">
                                    <span class="h-2 w-2 rounded-full bg-green-400 mr-1"></span>
                                    Dostupné
                                </span>
                            </a>
                        {% else %}
                            <a href="/products/toggle-show?id={{ prod.productId }}">
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-700 hover:bg-primary hover:ring-2 hover:ring-secondary text-primary hover:text-secondary">
                                    <span class="h-2 w-2 rounded-full bg-red-600 mr-1"></span>
                                    Nedostupné
                                </span>
                            </a>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 text-md border-secondary text-left">
                        <a href="/products/edit?id={{ prod.productId }}">
                            {% with text="", type="button", icon="las la-edit", button="table" %}
                                {% include "/components/form/button.html" %}
                            {% endwith %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="/files/js/createDataTable.js"></script>

{% endblock %}