<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
-->

<!--
    How to use:
        with content=""
            include "/components/cards/component-card.html"
        endwith
-->

<div class="bg-white p-5 m-5 rounded-md shadow-md">
    {{ content | safe}}
</div>