<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
-->


{% extends 'base.html' %}

{% block content %}

<!-- Top Bar -->
{% with screenName="" %}
    {% include 'topbar.html' %}
{% endwith %}

<!-- Show loading -->
<div id="loading" class="absolute top-0 left-0 bg-opacity-50 z-10 w-full h-full">
    <div class="flex justify-center w-full h-full items-center rounded-lg">
        <div class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]" role="status">
            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Načítání...</span>
        </div>
    </div>
</div>


<div class="grid grid-cols-3 pt-16 h-screen overflow-hidden flex">
   
    <!-- CREATED & PROCESSING -->
    <div class="col-span-1 border-r-4 border-spacing-4 border-white">

        <div class="pl-7 pt-7">
            <h1 class="text-2xl lg:text-4xl font-semibold uppercase">Připravujeme</h1>
        </div>

        <div class="overflow-y-scroll h-full [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none']">
            <div class="text-center">
                <div id="ordersProcessing" class="p-5 pb-0"></div>
                <div id="ordersCreated" class="px-5">
                </div>
            </div>
        </div>
    </div>
    

    <!-- READY -->
    <div class="col-span-2"> 

        <div class="pl-7 pt-7">
            <h1 class="text-2xl lg:text-4xl font-semibold uppercase">K Vyzvednutí</h1>
        </div>

        <div class="overflow-y-scroll h-full [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none']">
            <div class="text-center">
                <div id="ordersReady" class="p-5 grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"></div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const host = window.location.host

    var protocol = `ws://`
    if (window.location.protocol === "https:") {
        protocol = `wss://`
    }

    const socket = io(`${protocol}${host}?pin={{ config.pin }}`)
    
    // Listen for messages from the server
    socket.on('allOrders', (message) => {
        handleOrders(message)
        document.getElementById("loading").classList.add("hidden")
    })

    socket.on('connect_error', (error) => {
        console.error('Socket.io connection error:', error)
    })


    function handleOrders(message) {
        allOrders = JSON.parse(message.data)

        // Sort the orders by pickupTime
        allOrders.sort((a, b) => {
            const pickupTimeA = new Date(a.pickupTime)
            const pickupTimeB = new Date(b.pickupTime)
            return pickupTimeA - pickupTimeB
        })

        const ordersCreated = document.getElementById("ordersCreated")
        const ordersProcessing = document.getElementById("ordersProcessing")
        const ordersReady = document.getElementById("ordersReady")

        ordersCreated.innerHTML = ""
        ordersProcessing.innerHTML = ""
        ordersReady.innerHTML = ""

        const currentTime = new Date()

        for (let i = 0; i < allOrders.length; i++) {
            const order = allOrders[i]

            if (order.status !== "CREATED" && order.status !== "PROCESSING" && order.status !== "READY") {
                continue
            }


            const orderDiv = `
                <div class="bg-${order.status === "CREATED" ? "primary" : "secondary"} border-4 border-secondary shadow-lg rounded-lg p-5 m-2 flex justify-between items-center refresh-animation">
                    <div class="flex items-center">
                        <i class="las la-hashtag text-white text-2xl lg:text-3xl xl:text-4xl mt-1"></i>
                        <h1 class="text-white font-bold text-2xl lg:text-3xl xl:text-4xl">${String(order.tag).padStart(3, '0')}</span></h1>
                    </div>
            
                    <div class="flex items-center gap-y-2">                        
                        <h1 class="text-white font-bold text-lg lg:text-3xl xl:text-4xl" id="pickupTime-${order.orderId}">${order.pickupTime}</h1>                
                        <i class="las la-clock text-white text-xl lg:text-3xl 2xl:text-4xl mt-2 ml-2"></i>
                    </div>
                </div>
            `;

            if (order.status === "CREATED") {
                ordersCreated.innerHTML += orderDiv;
            } else if (order.status === "PROCESSING") {
                ordersProcessing.innerHTML += orderDiv;
            } else if (order.status === "READY") {
                ordersReady.innerHTML += `
                    <div class="bg-secondary border-4 border-secondary shadow-lg rounded-lg p-5 m-2 flex justify-between items-center refresh-animation">
                        <div class="flex items-center">
                            <i class="las la-hashtag text-white text-2xl lg:text-3xl xl:text-4xl mt-1"></i>
                            <h1 class="text-white font-bold text-2xl lg:text-3xl xl:text-4xl">${String(order.tag).padStart(3, '0')}</span></h1>
                        </div>
                
                        <div class="flex items-center gap-y-2">                        
                            <i class="las la-check text-white text-2xl lg:text-3xl xl:text-4xl"></i>                
                        </div>
                    </div>
                `
            }
        }

        // Update pickup times initially
        updatePickupTimes()
    }

    function updatePickupTimes() {
        const currentTime = new Date()

        // Filter only "CREATED" and "PROCESSING" orders
        const processingOrders = allOrders.filter(order => order.status === "PROCESSING" || order.status === "CREATED")

        processingOrders.forEach(order => {
            const pickupTimeDiv = document.getElementById(`pickupTime-${order.orderId}`)
            
            const remainingTime = new Date(order.pickupTime)
            const timeDifference = remainingTime - currentTime
            const remainingHours = Math.floor(Math.abs(timeDifference) / 3600000)
            const remainingMinutes = Math.floor((Math.abs(timeDifference) % 3600000) / 60000)
            const remainingSeconds = Math.floor((Math.abs(timeDifference) % 60000) / 1000)

            const sign = timeDifference < 0 ? '-' : ''
            
            var formattedRemainingTime = `${sign}${remainingHours}h ${String(remainingMinutes)}m ${String(remainingSeconds)}s`

            if (remainingHours === 0) {
                formattedRemainingTime = `${sign}${remainingMinutes}m ${remainingSeconds}s`
            }

            pickupTimeDiv.innerText = formattedRemainingTime
        });

        
        // Clear the previous interval if it exists
        if (typeof updatePickupTimes.intervalId !== 'undefined') {
            clearInterval(updatePickupTimes.intervalId);
        }

        // Set a new interval
        updatePickupTimes.intervalId = setInterval(updatePickupTimes, 1000)
    }




</script>

{% endblock %}