[Unit]
Description=K Okénku | Backend & Admin Panel
After=network.target

[Service]
Type=simple
ExecStart=python3 -m gunicorn -k gevent -w 1 --bind 0.0.0.0:8000 --chdir ./home/user/admin/app/web app:app
User=user
Restart=always
RestartSec=3
StartLimitInterval=0
Environment="KO_DB_HOST="
Environment="KO_DB_NAME="
Environment="KO_DB_USER="
Environment="KO_DB_PASSWORD="
Environment="KO_DB_HASH_SALT="

[Install]
WantedBy=multi-user.target