@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide for print */
@media print {
    .no-print {
        visibility: hidden
    }
    
    .print {
        visibility: visible !important;
    }
    
    @page {
        size: auto;
        margin: 0
    }
}