@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide for print */
@media print {
    .no-print {
        visibility: hidden
    }
    
    .print {
        visibility: visible !important;
        height: auto;
        page-break-inside: auto;
    }

    .print * {
        page-break-inside: auto;
        page-break-after: auto;
    }
    
    @page {
        size: auto;
        margin: 0
    }
}

/* Vertical scrollbar styling */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}