<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
-->

{% extends 'base.html' %}

{% block content %}

<style>
    body {
        overflow-y: hidden;
    }
</style>

<div class="">

    <form action="/first-time-setup" method="POST">
    
        <div id="1" class="h-screen flex items-center justify-center flex-col">

            <div class="mb-20 text-center">
                <h1 class="text-8xl font-medium">KitchenHub</h1>
                <h1 class="text-4xl text-secondary uppercase">inicializace</h1>
            </div>

            <div>
                <div>
                    <label for="serverUrl" class="block text-white text-lg font-medium mb-2">URL Adresa Serveru</label>
                    <input type="url" name="serverUrl" placeholder="https://k-okenku.moje-bistro.cz" class="ftsInput px-3 py-2 rounded-md w-96 text-primary text-lg shadow-lg" required>                
                </div>

                <div class="mt-5">
                    <button type="button" id="continue-serverUrl" class="px-3 py-2 rounded-md w-96 bg-secondary hover:bg-primary border-2 border-secondary text-white font-medium text-lg shadow-lg">Pokračovat</button>
                    <script>
                        const buttonContinue_serverURL = document.getElementById("continue-serverUrl");

                        buttonContinue_serverURL.addEventListener("click", function() {
                            var currentUrl = window.location.href;
                            var fragmentIndex = currentUrl.indexOf("#");

                            var newUrl = fragmentIndex !== -1 ? currentUrl.substring(0, fragmentIndex) : currentUrl;
                            newUrl += "#2";

                            window.location.href = newUrl;
                        });

                    </script>
                </div>
                
            </div>
        </div>


        <div id="2" class="h-screen flex items-center justify-center flex-col">

            <div>
                <div>
                    <label for="establishmentSlug" class="block text-white text-lg font-medium mb-2">Identifikace Provozovny</label>
                    <input type="text" name="establishmentSlug" placeholder="MojePobockaBistra-FpB7o0hLnc" class="ftsInput px-3 py-2 rounded-md w-96 text-primary text-lg shadow-lg" required>                
                </div>

                <div class="mt-5">
                    <label for="establishmentToken" class="block text-white text-lg font-medium mb-2">Propojovací Kód</label>
                    <input type="text" name="establishmentToken" placeholder="EST-Rest-1A2B-3c4d-5E6F-7G8h" class="ftsInput px-3 py-2 rounded-md w-96 text-primary text-lg shadow-lg" required>                 
                </div>
            </div>

            <div class="mt-5">
                <button type="button" id="continue-establishmentCredentials" class="px-3 py-2 rounded-md w-96 bg-secondary hover:bg-primary border-2 border-secondary text-white font-medium text-lg shadow-lg">Pokračovat</button>
                <script>
                    const buttonContinue_establishmentCredentials = document.getElementById("continue-establishmentCredentials");

                    buttonContinue_establishmentCredentials.addEventListener("click", function() {
                        var currentUrl = window.location.href;
                        var fragmentIndex = currentUrl.indexOf("#");

                        var newUrl = fragmentIndex !== -1 ? currentUrl.substring(0, fragmentIndex) : currentUrl;
                        newUrl += "#3";

                        window.location.href = newUrl;
                    });

                </script>
            </div>
        </div>


        <div id="3" class="h-screen flex items-center justify-center flex-col">

            <div>
                <div>
                    <label for="pin" class="block text-white text-lg font-medium mb-2">Přihlašovací PIN</label>
                    <input type="number" min="1" max="9999" name="pin" placeholder="1234" class="ftsInput px-3 py-2 rounded-md w-96 text-primary text-lg shadow-lg" required>                
                </div>
            </div>

            <div class="mt-5">
                <button type="submit" class="px-3 py-2 rounded-md w-96 bg-secondary hover:bg-primary border-2 border-secondary text-white font-medium text-lg shadow-lg">Dokončit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}