<!--
********************************************************

    Tento kód je součástí projektu 'K Okénku',
    který je psán jako maturitní práce z informatiky.

    Gymnázium Sokolov a Krajské vzdělávací centrum,
    příspěvková organizace

    Robin Míček, 8.E

********************************************************
-->

{% extends 'base.html' %}

{% block content %}


<div class="">

    <form action="/first-time-setup" method="POST">
    
        <div class="p-10 flex items-center justify-center flex-col">

            <div class="m-10 flex items-center justify-center flex-col">
                <img src="/files/media/favicon.png" class="w-24 pr-5" alt="Logo">
                <h1 class="text-8xl font-semibold">KitchenHub</h1>
            </div>

            <div>
                <div>
                    <label for="serverUrl" class="block text-white text-lg font-medium mb-2">URL Adresa Serveru</label>
                    <input type="url" name="serverUrl" placeholder="https://k-okenku.moje-bistro.cz" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                </div>


                <div class="my-10">
                    <div>
                        <label for="establishmentSlug" class="block text-white text-lg font-medium mb-2">Identifikace Provozovny</label>
                        <input type="text" name="establishmentSlug" placeholder="MojePobockaBistra-FpB7o0hLnc" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                    </div>

                    <div class="mt-3">
                        <label for="establishmentToken" class="block text-white text-lg font-medium mb-2">Propojovací Kód</label>
                        <input type="text" name="establishmentToken" placeholder="EST-Rest-1A2B-3c4d-5E6F-7G8h" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                 
                    </div>
                </div>
                

                <div class="my-10 space-y-3">
                    <div>
                        <label for="rabbitmqUrl" class="block text-white text-lg font-medium mb-2">RabbitMQ URL</label>
                        <input type="text" name="rabbitmqUrl" placeholder="rabbitmq.k-okenku.moje-bistro.cz" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                    </div>
                    
                    <div>
                        <label for="rabbitmqPort" class="block text-white text-lg font-medium mb-2">RabbitMQ Port</label>
                        <input type="number" name="rabbitmqPort" placeholder="5672" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                    </div>
                    
                    <div>
                        <label for="rabbitmqUsername" class="block text-white text-lg font-medium mb-2">RabbitMQ Uživatelské Jméno</label>
                        <input type="text" name="rabbitmqUsername" placeholder="user" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                    </div>
                    
                    <div>
                        <label for="rabbitmqPassword" class="block text-white text-lg font-medium mb-2">RabbitMQ Heslo</label>
                        <input type="text" name="rabbitmqPassword" placeholder="password" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                    </div>
                </div>
          

                <div>
                    <label for="pin" class="block text-white text-lg font-medium mb-2">Přihlašovací PIN</label>
                    <input type="number" min="1" max="9999" name="pin" placeholder="1234" class="px-3 py-2 rounded-md w-96 text-primary border-b-4 border-secondary text-lg shadow-lg" required>                
                </div>
          
                <div class="mt-10">
                    <button type="submit" class="px-3 py-2 rounded-md w-96 bg-secondary hover:bg-primary border-4 border-secondary text-white font-semibold text-lg shadow-lg">Dokončit</button>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}